{% ckan_extends %}
{% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}

{% block footer_links_ckan %}
<li><a href="/terms.html">{{ _('Terms and conditions') }}</a></li>
<li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
<li><a href="https://github.com/solalem/ckanext-datagovet-theme">{{ _('Open Source on Github') }}</a></li>
<li><a href="/stats">{{ _('Statistics') }}</a></li>
<li><a href="h.url_for('ga_index')">{{ _('Traffic Statistics') }}</a></li>
<li><a href="https://www.data.gov.et/feeds/dataset.atom" target="_blank">Feeds</a></li>

{% endblock %}

{% block footer_attribution %}
<div class="row">
    <div class="col-md-6">
        <img src="/assets/images/mint_logo_small.png"/>
    </div>
    <div class="col-md-6">
        <img src="/assets/images/digital_ethiopia_logo_small.png"/>
    </div>
</div>
<p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="https://ckan.org">CKAN</a>{% endtrans %}</p>
{% endblock %}

{% block footer_lang %}

{% endblock %}
