{% block header_wrapper %}
<header id="header"
    data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyStartAt': 45, 'stickySetTop': '-45px', 'stickyChangeLogo': true}">
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="{{ h.url_for('home.index') }}">
                                <img alt="Data gov et logo" height="80" data-sticky-width="200" data-sticky-height="80"
                                    data-sticky-top="25" src="/assets/images/gov/datagovet.svg">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="header-column justify-content-end">
                    {% block header_account %}
                    <div class="header-row pt-3">
                        <nav class="header-nav-top">
                            <ul class="nav nav-pills">
                                {% block header_account_container_content %}
                                {% if c.userobj %}
                                {% block header_account_logged %}
                                {% if c.userobj.sysadmin %}
                                <li class="nav-item nav-item-anim-icon nav-item-left-border-md-show">
                                    <a class="nav-link ps-0 ws-nowrap"
                                        href="{{ h.url_for(controller='admin', action='index') }}"
                                        title="{{ _('Sysadmin settings') }}"><i class="fas fa-cog"></i>{{ _('Admin')
                                        }}</a>
                                </li>
                                {% endif %}
                                <li class="nav-item nav-item-anim-icon nav-item-left-border-md-show">
                                    <a class="nav-link ps-0 ws-nowrap"
                                        href="{{ h.url_for('user.read', id=c.userobj.name) }}"
                                        title="{{ _('View profile') }}"><i class="fas fa-user"></i>{{
                                        c.userobj.display_name }}</a>
                                </li>
                                {% set new_activities = h.new_activities() %}
                                {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard
                                (%(num)d new items)', new_activities)
                                %}
                                <li class="nav-item nav-item-anim-icon nav-item-left-border-md-show">
                                    <a class="nav-link" href="{{ h.url_for('dashboard.index') }}"
                                        title="{{ notifications_tooltip }}"><i class="fas fa-tachometer"></i>{{
                                        _('Dashboard') }}<span class="badge badge-success">{{ new_activities
                                            }}</span></a>
                                </li>
                                <li class="nav-item nav-item-anim-icon nav-item-left-border-md-show">
                                    <a class="nav-link" href="{{ h.url_for('user.edit', id=c.userobj.name) }}"
                                        title="{{ _('Edit settings') }}"><i class="fas fa-gears"></i>{{ _('Settings')
                                        }}</a>
                                </li>
                                {% endblock %}
                                {% block header_account_log_out_link %}
                                <li class="nav-item nav-item-anim-icon nav-item-left-border-md-show">
                                    <a class="nav-link" href="{{ h.url_for('/user/_logout') }}"
                                        title="{{ _('Log out') }}"><i class="fas fa-power-off"></i> {{ _('Log out')
                                        }}</a>
                                </li>
                                {% endblock %}
                                {% else %}
                                <li class="nav-item nav-item-anim-icon nav-item-left-border-md-show">
                                    <a class="nav-link ps-0 ws-nowrap" href="{{ h.url_for('user.login') }}"><i
                                            class="fas fa-angle-right"></i> {{ _('Login') }}</a>
                                </li>
                                {% if h.check_access('user_create') %}
                                <li class="nav-item nav-item-anim-icon nav-item-left-border-md-show">
                                    <a class="nav-link" href="{{ h.url_for('user.register') }}"><i
                                            class="fas fa-angle-right"></i> {{ _('Register') }}</a>
                                </li>
                                {% endif %}
                                {% endif %}
                                {% endblock %}
                                {% snippet "snippets/header_language_selector.html" %}
                            </ul>
                        </nav>
                    </div>
                    {% endblock %}
                    {% block header_debug %} {% if g.debug and not g.debug_supress_header %}
                    <div class="debug">Controller : {{ c.controller }}<br />Action : {{ c.action }}</div>
                    {% endif %} {% endblock %}
                    <div class="header-row">
                        <div class="header-nav pt-1">
                            <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                                {% block header_site_navigation %}
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li>
                                            <a href="{{ h.url_for('home.index') }}" class="nav-link active">Home</a>
                                        </li>
                                        <li>
                                            <a href="{{ h.url_for('search') }}" class="nav-link">Datasets</a>
                                        </li>
                                        <li>
                                            <a href="{{ h.url_for('organizations_index') }}"
                                                class="nav-link">Institutions</a>
                                        </li>
                                        <li>
                                            <a href="/contact" class="nav-link">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                                {% endblock %}
                                {% block header_site_search %}
                                <div
                                    class="header-nav-features header-nav-features-no-border header-nav-features-md-show-border d-none d-md-inline-flex">
                                    <form role="search" action="{% url_for controller='dataset', action='search' %}"
                                        method="get">
                                        <div class="simple-search input-group w-auto">
                                            <input class="form-control text-1" id="headerSearch" name="q" type="search"
                                                value="" placeholder="{{ _('Search') }}">
                                            <button class="btn" type="submit">
                                                <i class="fa fa-search header-nav-top-icon"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                {% endblock %}
                            </div>
                            <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse"
                                data-bs-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}