<!-- 
    SIDE PANEL 
    
        sidepanel-dark 			= dark color
        sidepanel-light			= light color (white)
        sidepanel-theme-color		= theme color
        
        sidepanel-inverse		= By default, sidepanel is placed on right (left for RTL)
                        If you add "sidepanel-inverse", will be placed on left side (right on RTL).
-->

<div id="sidepanel" class="sidepanel-light">
    <a id="sidepanel_close" href="#"><!-- close -->
        <!-- <i class="glyphicon glyphicon-remove"></i> -->
        <i class="fa fa-close"></i>
    </a>

    <div class="sidepanel-content">
        <h2 class="sidepanel-title">data.gov.et</h2>

        <!-- SIDE NAV -->
        <ul class="list-group">

            <li class="list-group-item list-toggle"><!-- add "active" to stay open on page load -->
                <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-1" class="collapsed"> 
                    <i class="ico-dd icon-angle-down"><!-- Drop Down Indicator --></i>
                    <i class="ico-category et-strategy"></i>
                    RESOURCES
                </a>
                <ul id="collapse-1" class="list-unstyled collapse"><!-- add "in" to stay open on page load -->
                    <li><a href="/pages/guide"><i class="fa fa-angle-right"></i> Publishing Guide</a></li>
                    <li class="active">
                        <span class="badge">New</span>
                        <a href="/pages/reuse"><i class="fa fa-angle-right"></i> Directivă / Re-use</a>
                    </li>
                    <li><a href="#"><i class="fa fa-angle-right"></i> Publicații</a></li>
                </ul>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <i class="ico-category et-heart"></i>  
                    DEZVOLTATORI
                </a>
            </li>
            <li class="list-group-item">
                <a href="/blog">
                    <i class="ico-category et-happy"></i>  
                    BLOG/NEWS
                </a>
            </li>
            <li class="list-group-item">
                <a href="/pages/licence">
                    <i class="ico-category et-beaker"></i> 
                    LICENCE
                </a>
            </li>
            <li class="list-group-item">
                <a href="/stats">
                    <i class="fa fa-bar-chart"></i> 
                    STATISTICS
                </a>
            </li>
            <li class="list-group-item">
                <a href="/contact">
                    <i class="ico-category et-map-pin"></i> 
                    CONTACT
                </a>
            </li>

        </ul>
        <!-- /SIDE NAV -->

        <!-- social icons -->
        <!-- <div class="text-center margin-bottom-30">

            <a href="#" class="social-icon social-icon-sm social-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                <i class="icon-facebook"></i>
                <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                <i class="icon-twitter"></i>
                <i class="icon-twitter"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-linkedin" data-toggle="tooltip" data-placement="top" title="Linkedin">
                <i class="icon-linkedin"></i>
                <i class="icon-linkedin"></i>
            </a>

            <a href="#" class="social-icon social-icon-sm social-rss" data-toggle="tooltip" data-placement="top" title="RSS">
                <i class="icon-rss"></i>
                <i class="icon-rss"></i>
            </a>

        </div> -->
        <!-- /social icons -->

    </div>

</div>
<!-- /SIDE PANEL -->