            <!-- GROUPS -->
            <section class="alternate padding-xs">
                <div class="container">
                    <header class="text-center margin-bottom-40">
                        <h1 class="weight-300">DATA.GOV.ET</h1>
                        <h2 class="weight-300 letter-spacing-1 size-13"><span>{% trans %}OPEN DATASETS PORTAL{% endtrans %}</span></h2>
                    </header>

                    <div class="text-center">
                        <p class="size-16">
                            {% trans %}Central access point for open data sets delivered by public administration authorities and institutions, helping the public to find, download and use the information generated and held by the administrative structures.{% endtrans %}
                        </p>

                        <div class="owl-carousel nomargin" data-plugin-options='{"singleItem": false, "autoPlay": true}'>
                        
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="/group/agricultura-silvicultura-si-pescuit">
                                    <img src="/assets/images/gov/icons/agricultura-silvicultura-si-pescuit.png"
                                        onmouseover="this.src='/assets/images/gov/icons/agricultura-silvicultura-si-pescuit-o.png'"
                                        onmouseout="this.src='/assets/images/gov/icons/agricultura-silvicultura-si-pescuit.png'" />
                                    <h2>AGRICULTURA</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="/group/drept">
                                    <img src="/assets/images/gov/icons/drept.png" onmouseover="this.src='/assets/images/gov/icons/drept-o.png'"
                                        onmouseout="this.src='/assets/images/gov/icons/drept.png'" />
                                    <h2>JUSTITIE</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="/group/educatie-cultura-si-sport">
                                    <img src="/assets/images/gov/icons/educatie-cultura-si-sport.png"
                                        onmouseover="this.src='/assets/images/gov/icons/educatie-cultura-si-sport-o.png'"
                                        onmouseout="this.src='/assets/images/gov/icons/educatie-cultura-si-sport.png'" />
                                    <h2>EDUCATIE SI CULTURA</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="/group/finante">
                                    <img src="/assets/images/gov/icons/finante.png"
                                        onmouseover="this.src='/assets/images/gov/icons/finante-o.png'"
                                        onmouseout="this.src='/assets/images/gov/icons/finante.png'" />
                                    <h2>ECONOMIE SI FINANTE</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="/group/mediu-inconjurator">
                                    <img src="/assets/images/gov/icons/mediu-inconjurator.png"
                                        onmouseover="this.src='/assets/images/gov/icons/mediu-inconjurator-o.png'"
                                        onmouseout="this.src='/assets/images/gov/icons/mediu-inconjurator.png'" />
                                    <h2>MEDIU INCONJURATOR</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="/group/energie">
                                    <img src="/assets/images/gov/icons/energie.png"
                                        onmouseover="this.src='/assets/images/gov/icons/energie-o.png'"
                                        onmouseout="this.src='/assets/images/gov/icons/energie.png'" />
                                    <h2>ENERGIE</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="/group/orase-regiuni">
                                    <img src="/assets/images/gov/icons/orase-regiuni.png"
                                        onmouseover="this.src='/assets/images/gov/icons/orase-regiuni-o.png'"
                                        onmouseout="this.src='/assets/images/gov/icons/orase-regiuni.png'" />
                                    <h2>ORASE, REGIUNI, ADMINISTRATIE LOCALA</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="/group/politica">
                                    <img src="/assets/images/gov/icons/politica.png"
                                        onmouseover="this.src='/assets/images/gov/icons/politica-o.png'"
                                        onmouseout="this.src='/assets/images/gov/icons/politica.png'" />
                                    <h2>GUVERNARE SI SECTOR PUBLIC</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="/group/nomenclatoare">
                                    <img src="/assets/images/gov/icons/nomenclatoare.png"
                                        onmouseover="this.src='/assets/images/gov/icons/nomenclatoare-o.png'"
                                        onmouseout="this.src='/assets/images/gov/icons/nomenclatoare.png'" />
                                    <h2>NOMENCLATOARE</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="/group/relatii-internationale">
                                    <img src="/assets/images/gov/icons/relatii-internationale.png"
                                        onmouseover="this.src='/assets/images/gov/icons/relatii-internationale-o.png'"
                                        onmouseout="this.src='/assets/images/gov/icons/relatii-internationale.png'" />
                                    <h2>RELATII INTERNATIONALE</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="/group/productie-tehnologie-si-cercetare">
                                    <img src="/assets/images/gov/icons/productie-tehnologie-si-cercetare.png"
                                        onmouseover="this.src='/assets/images/gov/icons/productie-tehnologie-si-cercetare-o.png'"
                                        onmouseout="this.src='/assets/images/gov/icons/productie-tehnologie-si-cercetare.png'" />
                                    <h2>STIINTA, TEHNOLOGIE SI CERCETARE</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="/group/probleme-sociale">
                                    <img src="/assets/images/gov/icons/probleme-sociale.png"
                                        onmouseover="this.src='/assets/images/gov/icons/probleme-sociale-o.png'"
                                        onmouseout="this.src='/assets/images/gov/icons/probleme-sociale.png'" />
                                    <h2>POPULATIE SI CONDITIE SOCIALA</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="/group/transport">
                                    <img src="/assets/images/gov/icons/transport.png"
                                        onmouseover="this.src='/assets/images/gov/icons/transport-o.png'"
                                        onmouseout="this.src='/assets/images/gov/icons/transport.png'" />
                                    <h2>TRANSPORT</h2>
                                </a>
                            </div>
                            <div class="box-icon box-icon-center box-icon-round box-icon-transparent box-icon-large">
                                <a class="box-icon-title" href="/group/sanatate">
                                    <img src="/assets/images/gov/icons/sanatate.png"
                                        onmouseover="this.src='/assets/images/gov/icons/sanatate-o.png'"
                                        onmouseout="this.src='/assets/images/gov/icons/sanatate.png'" />
                                    <h2>SANATATE</h2>
                                </a>
                            </div>
                        
                        </div>

                    </div>

                </div>
            </section>
            <!-- /GROUPS -->