<div class="container">

    <div class="row">

        <div class="col-md-9 col-sm-12">
            <h3>Request for <span><strong>New Datasets</strong></span></h3>
            <p class="weight-300 size-20 nomargin-bottom">
                Tell us about data you would like to see in this Portal.
            </p>
        </div>

        <div class="col-md-3 col-sm-12" style="margin-top: 1rem;">
            <a href="pages/data-request" rel="nofollow" class="btn btn-info btn-lg margin-top-10"><i class="fa fa-edit"></i> Request Dataset </a>
        </div>

    </div>

</div>