{#

Renders links to the site's resouces.

#}
<section class="padding-xs">
    <div class="container">
        <header class="text-center margin-bottom-40">
            <h1 class="weight-300">Create Something Amazing with Open Data</h1>
            </h2>
        </header>

        <div class="text-center">
            <p class="lead size-16">
                Data is the new oil. We are trying to make public data open to drive innovation. 
            </p>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="price-clean">
                    <h4><i class="fa fa-info"></i> INFO</h4>
                    <hr />
                    <p>See resources, documents, videos and others </p>
                    <hr />
                    <a href="/pages/resources" class="btn btn-3d btn-default">More</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-3">
                <div class="price-clean price-clean-popular">
                    <h4><i class="ico-category et-heart"></i> Programmers</h4>
                    <hr />
                    <p>APIs, examples, forums</p>
                    <hr />
                    <a href="/pages/developers" class="btn btn-3d btn-default">More</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-3">
                <div class="price-clean price-clean-popular">
                    <h4><i class="ico-category et-beaker"></i> Usage</h4>
                    <hr />
                    <p>Usage and help</p>
                    <hr />
                    <a href="/pages/reutilizare" class="btn btn-3d btn-default">More</a>
                </div>
            </div>

            <div class="col-md-3 col-sm-3">
                <div class="price-clean">
                    <h4><i class="fa fa-trophy"></i> Licences</h4>
                    <hr />
                    <p>Usage terms and available licence options</p>
                    <hr />
                    <a href="/pages/licence" class="btn btn-3d btn-default">More</a>
                </div>
            </div>
        </div>
    </div>
</section>
