{% set stats = h.get_site_statistics() %}
{% set tags = h.get_facet_items_dict('tags', limit=5) %}
{% set placeholder = _('E.g. environment') %}

<div class="owl-carousel-wrapper">
    <div class="dots-inside dots-horizontal-center show-dots-hover show-dots-xs show-dots-sm show-dots-md nav-style-1 nav-inside nav-inside-plus nav-light nav-lg nav-font-size-lg show-nav-hover mb-0" data-plugin-options="{'responsive': {'0': {'items': 1, 'dots': true, 'nav': false}, '479': {'items': 1, 'dots': true}, '768': {'items': 1, 'dots': true}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': false, 'dotsVerticalOffset': '-235px', 'nav': true, 'navVerticalOffset': '70px', 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">
        <div class="position-relative bg-primary overflow-hidden" data-dynamic-height="['350px','350px','350px','350px','350px']" style="height: 350px;">
            <div class="background-image-wrapper position-absolute top-0 left-0 right-0 bottom-0" data-appear-animation="kenBurnsToLeft" data-appear-animation-duration="30s" data-plugin-options="{'minWindowWidth': 0}" data-carousel-onchange-show ></div>
            <div class="container position-relative z-index-3 h-100">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-lg-8 text-center">
                        <h1 class="text-color-light font-weight-bold line-height-1 text-12 text-md-14 positive-ls-3 mb-3" data-appear-animation="blurIn" data-appear-animation-delay="1000" data-plugin-options="{'minWindowWidth': 0}">Open Data</h12>
                        <h2 class="alternative-font-4 text-color-light font-weight-semibold line-height-3 text-5 positive-ls-1 mb-2 " data-appear-animation="blurIn" data-appear-animation-delay="1300" data-plugin-options="{'minWindowWidth': 0}"><span class="opacity-9">Explore the Open Data Portal</span></h2>
                        <form action="{% url_for controller='dataset', action='search' %}" method="post" id="domainSearchForm" class="form-errors-light mt-5">
                            <div class="col">
                                <div class="input-group">
                                    <input type="text" id="field-main-search" name="q" class="form-control form-control-lg form-control-focused border-top-0 border-bottom-0 border-start-0" aria-label="..." placeholder="{% trans %}Search in all datasets ...{% endtrans %}" required data-msg-required="Please enter search term.">
                                    <input type="hidden" name="tld" value="All">
                                    <button class="btn btn-lg btn-secondary" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" style="background: #f7f7f7;">
        <div class="container">
            <div class="row">
                <div class="col pt-2 text-center text-lg-start text-center">
                    <h3 class="text-3 text-dark m-0 font-weight-bold d-inline-block pe-4 mb-3">TRENDING TAGS:</h3>
                    <div class="d-inline-block">
                        {% for tag in tags %}
                        <a href="{% url_for controller='dataset', action='search', tags=tag.name %}" class="btn py-3 px-4 text-1 text-dark btn-light bg-transparent text-uppercase font-weight-bold me-2 mb-2">{{ h.truncate(tag.display_name, 22) }} <span class="badge badge-dark bg-color-primary badge-sm text-uppercase">{{ tag.count }}</span></a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>